header {
  background-image:linear-gradient(90deg,#3462BB, #20094B) ;
  height: 10vh;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

#city-input {
  font-size: x-large;
  padding-top:5px;
}
#city-input-label {
  font-size: x-large;
  /* padding:5px */
}

#search {
  display: block;
  font-size: 25px;
}

#cloud-icon {
  font-size: 35px;
}

.btn-large {
  margin-top: 10px;
  margin-bottom: 10px;
}

.city {
  width: 80%;
}

