header {
  background-image:linear-gradient(90deg,#3462BB, #20094B) ;
  height: 10vh;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

p {
  font-size: large;
  text-align: center;
}

.banner {
  font-size: 290%;
}

.banner-info {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 3rem;
}

#date {
  font-size: xx-large;
}

.forecast-date-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin:0;
}

.bold {
  font-weight: bold;
}

.row {
  font-weight: bold;
}

.upfontsize {
  font-size: xx-large;
}

.padding {
  padding-bottom: 2%;
}

.city-stat {
  margin-top:1.5%;
}

.btn-large {
  margin-top: 10px;
  margin-bottom: 10px;
}

.city {
  width: 80%;
}

.border {
  border: 5px solid black;
  /* padding: 1%; */
  margin-top:1%;
  margin-bottom:1%;
}

#city-input {
  font-size: x-large;
  padding-top:5px;
}

#city-input-label {
  font-size: x-large;
}

.search {
  display: block;
  font-size: 15px;
  min-width: 100px;
}

#cloud-icon {
  font-size: 35px;
}



.compass-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.compass-title {
  margin-bottom: 0px;
  padding-top: 0;
  text-align: center;
}


#compass {
  position: absolute;
  top: 60px;
  margin: 25px auto;
  width: 15vw;
}


#arrow {
  position: absolute;
  top: 90px;
  width: 9vw;
  z-index: 100;
}



.forecast {
  border: 5px solid black;
  background-color: #2D3E50;
  color:white;
  font-weight: bold;
  margin-right: 3%;
  margin-left: 3%;
  /* min-width: fit-content; NEED TO ADD THIS BUT WILL TAKE RESTYLING OF THE FORECAST BOXES TO MAKE IT WORK*/
}


.F-description {
  font-style: italic;
  font-weight: lighter;
  font-size: x-large;
}


#city-uv-index {
  display:inline-block;
  text-align: center;
  padding:0 15px ;
  margin-left: 5px;
  min-width: 100px;
  border-radius: 20px;
  border: 3px solid black;
  /* background-color: limegreen; */
}

.modal-content h4 {
  text-align: center;
  background-color: teal;
  color: white;
  padding: 5px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#invalid-city-trigger {
  display: none;
}

#set-current-as-home {
  position: relative;
  /* top:100%; */
  left:80%
}
